---
import aboutImg from '../assets/about.jpg'
---
<section class=" bg-bg-1 py-20 text-white" id="about">
    <div class="max-w-max-width mx-auto grid grid-cols-2 px-4 gap-8 max-md:grid-cols-1">
        <div><img data-aos="fade-right" data-aos-delay="200" class="rounded-2xl mx-auto shadow-2xl object-cover" src={aboutImg.src} alt="about-image"></div>
        <div>
            <h2 data-aos="fade-up" data-aos-delay="300" class="max-md:title  text-4xl font-semibold my-4 text-white ">
    Get Ready To Reach Your Fitness Goals</h2>
            <p data-aos="fade-up" data-aos-delay="600" class=" text-extralight my-4 leading-8 ">At FITNESXIA, we are committed to helping you achieve your fitness goals with expert guidance, personalized workouts, and a motivating environment. Whether you aim to build strength, improve endurance, or stay active, we provide the right support and training to keep you on track.</p>
            <p data-aos="fade-up" data-aos-delay="900" class=" text-extralight mt-4 leading-8 mb-6 ">Start your journey today and transform your health with the perfect exercise routine!</p>
            <a data-aos="fade-up" data-aos-delay="1200" class="bg-primary btn transition  duration-150 hover:bg-[#ff242fc4] hover:scale-105 text-white " href="#">Free Trail Today</a>
    </div>

    </div>
</section>