---
import logoFooter from '../assets/logo.png'
---

<footer class="bg-bg-1 pt-20 max-md:pt-10  text-white">
    <div class="max-w-max-width mx-auto px-4 ">
        <div class="grid grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-8 pb-8">
            <div>
                <h2 class="font-semibold text-lg mb-4">Company</h2>
                <ul class="flex flex-col gap-2 text-extralight">
                    <li><a class="hover:text-primary transition duration-150 " href="#">About Us</a></li>
                    <li><a class="hover:text-primary transition duration-150" href="#">Why Us</a></li>
                    <li><a class="hover:text-primary transition duration-150" href="#">Security</a></li>
                    <li><a class="hover:text-primary transition duration-150" href="#">Partnership</a></li>
                </ul>
            </div>
             <div>
                <h2 class="font-semibold text-lg mb-4">Categories</h2>
                <ul class="flex flex-col gap-2 text-extralight">
                    <li><a class="hover:text-primary transition duration-150" href="#">Basic Yoga</a></li>
                    <li><a class="hover:text-primary transition duration-150" href="#">Strength Training</a></li>
                    <li><a class="hover:text-primary transition duration-150" href="#">Body Building</a></li>
                    <li><a class="hover:text-primary transition duration-150" href="#">Weight Loss</a></li>
                </ul>
            </div>
             <div>
                <h2 class="font-semibold text-lg mb-4">Contact Us</h2>
                <ul class="flex flex-col gap-2 text-extralight">
                    <li><a class="hover:text-primary flex items-center gap-2 transition duration-150" href="#"><i class="ri-phone-fill text-primary"></i>+91 0987654321</a></li>
                    <li><a class="hover:text-primary flex items-center gap-2 transition duration-150" href="#"><i class="ri-mail-fill text-primary"></i>info@fitnesxia.com</a></li>
                    <li><a class="hover:text-primary flex items-center gap-2 transition duration-150 " href="#"><i class="ri-map-pin-2-line text-primary"></i>2456 Royal In. Delhi</a></li>
                    
                </ul>
            </div>
            <div>
                <h2 class="font-semibold text-lg mb-4">Subscribe Our Newsletter</h2>
                <div class="bg-white text-bg-1 rounded-3xl flex justify-between">
                    <input class="p-2 w-full border-none text-bg-1" placeholder="Enter your email" type="text">
                    <button class="flex justify-center items-center cursor-pointer text-white bg-primary px-2 rounded-full py-1 mr-2"><i class="ri-send-plane-fill text-xl"></i></button>
                </div>
                <p class="text-extralight mt-2 ">Never miss an update & news to your email</p>
            </div>

        </div>
        <div class="flex justify-between items-center w-full max-md:flex-col  max-md:gap-4   pb-4 border-t-2 pt-6 border-extralight border-solid">
            <img class="  w-[15%] max-sm:w-4/12" src={logoFooter.src} alt="logo-footer">
            <p class="text-center text-extralight">Copyright © 2025 Web Design Mastery. All rights reserved.</p>
            <div class="flex items-center gap-4 ">
                <a class="p-2 text-lg hover:bg-primary hover:text-white transition duration-150 py-1 flex justify-center items-center bg-white text-bg-1 rounded-full" href="#"><i class="ri-facebook-fill"></i></a>
                <a class="p-2 text-lg hover:bg-primary hover:text-white transition duration-150 py-1 flex justify-center items-center bg-white text-bg-1 rounded-full" href="#"><i class="ri-twitter-fill"></i></a>
                <a class="p-2 text-lg hover:bg-primary hover:text-white transition duration-150 py-1 flex justify-center items-center bg-white text-bg-1 rounded-full" href="#"><i class="ri-instagram-line"></i></a>
                <a class="p-2 text-lg hover:bg-primary hover:text-white transition duration-150 py-1 flex justify-center items-center bg-white text-bg-1 rounded-full" href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
        </div>
    </div>
</footer>