---

import logo from '../assets/logo.png'
import heroImg from '../assets/header.png'
---
<header class="text-white h-dvh max-md:h-full " id="home">
  <nav class="flex max-md:fixed max-md:top-0 max-md:left-0 max-md:right-0 max-md:z-50 max-md:bg-primary justify-between items-center max-w-max-width mx-auto pt-8 pb-4 px-4 relative">
    <a href="#">
      <img src={logo.src} class="w-8/12 max-md:w-6/12" alt="logo" />
    </a>

    <button
      id="menu-toggle"
      class="md:hidden cursor-pointer text-white text-3xl z-20"
      aria-label="Toggle menu"
    >
      ☰
    </button>

    <ul
  id="nav-menu"
  class="hidden flex-col items-center text-center bg-primary md:flex md:flex-row gap-4 md:gap-8 absolute md:static top-full left-0 w-full md:w-auto md:bg-transparent md:p-0 z-10 py-4"
>
  <li><a class="transition duration-150 max-md:font-semibold md:hover:text-primary max-md:py-3 max-md:block" href="#home">Home</a></li>
  <li><a class="transition duration-150 max-md:font-semibold md:hover:text-primary max-md:py-3 max-md:block" href="#about">About Us</a></li>
  <li><a class="transition duration-150 max-md:font-semibold md:hover:text-primary max-md:py-3 max-md:block" href="#programs">Programs</a></li>
  <li><a class="transition duration-150 max-md:font-semibold md:hover:text-primary max-md:py-3 max-md:block" href="#testimony">Testimonials</a></li>
  <li><a class="transition duration-150 max-md:font-semibold md:btn md:bg-primary md:hover:bg-[#ff242fc4] max-md:py-3 max-md:block" href="#">Sign Up</a></li>
</ul>

  </nav>


  <section class="max-w-max-width mx-auto grid pt-15 max-md:pb-10 grid-cols-2  px-4 max-md:grid-cols-1">
    <div class="max-md:order-2 ">
      <h1 data-aos="fade-up"   class="text-6xl  font-bold my-4 leading-16 max-md:text-center max-sm:text-5xl">GET HEALTHY BODY WITH THE PERFECT EXERCISES</h1>
      <p  data-aos="fade-up" data-aos-delay="200" class="my-4 leading-8 max-md:text-center text-extralight">
        Achieve your dream body with expertly designed exercises tailored for strength, endurance, and overall well-being. Whether you're a beginner or a fitness enthusiast, our workouts are crafted to help you stay active, build muscle, and improve flexibility.
      </p>
      <button  data-aos="fade-up" data-aos-delay="400" class="cursor-pointer max-md:flex max-md:mx-auto bg-primary px-6 py-3 my-4 rounded-md transition duration-150 hover:bg-[#ff242fc4] hover:scale-105">
        Get Started
      </button>
      <div data-aos="fade-up" data-aos-delay="600" class="my-4 flex items-center gap-4 font-semibold text-2xl">
        <span  class="flex flex-col gap-2">105+ <br /><span class="font-normal text-sm text-extralight">Expert Trainers</span></span>
        <span  class="flex flex-col gap-2">970+ <br /><span class="font-normal text-sm text-extralight">Member Joined</span></span>
        <span  class="flex flex-col gap-2">135+ <br /><span class="font-normal text-sm text-extralight">Fitness Programs</span></span>
      </div>
    </div>
    <div class="mask-b-from-80">
      <img data-aos="fade-left" data-aos-delay="100" src={heroImg.src} alt="hero-image" />
    </div>
  </section>
</header>

<script >
 const toggle = document.getElementById('menu-toggle') as HTMLButtonElement | null;
  const nav = document.getElementById('nav-menu') as HTMLUListElement | null;

  if (toggle && nav) {
    toggle.addEventListener('click', () => {
      nav.classList.toggle('hidden');
    });
  }
</script>
