---
import serviceImg from '../assets/service.png'
---

<section class="bg-bg-1 text-white h-full pt-10">
    <div class="max-w-max-width mx-auto px-4 grid grid-cols-2 items-center gap-8 max-md:grid-cols-1">
        <div class="pb-8">
            <h2 data-aos="fade-up" data-aos-delay="300" class="font-semibold text-4xl ">Why Should People Choose Fitnesxia Services</h2>
            <div data-aos="fade-up" data-aos-delay="600" class="mb-4 mt-6">
                <h3 class="font-semibold flex gap-2 items-center"><i class="ri-checkbox-circle-fill font-normal text-xl text-secondary"></i>Personal Training</h3>
                <p class="text-extralight mt-2">Get customized workout plans tailored to your fitness goals with one-on-one guidance from our professional trainers.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="900" class="my-4">
                <h3 class="font-semibold flex gap-2 items-center"><i class="ri-checkbox-circle-fill font-normal text-xl text-secondary"></i>Expert Trainer</h3>
                <p class="text-extralight mt-2">Train with highly qualified and experienced fitness experts who will motivate and support you every step of the way.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="1200" class="mt-4 mb-6">
                <h3 class="font-semibold flex gap-2 items-center"><i class="ri-checkbox-circle-fill font-normal text-xl text-secondary"></i>Flexible Timing</h3>
                <p class="text-extralight mt-2">Enjoy the convenience of workout sessions that fit your schedule, making it easier to stay committed to your fitness journey.</p>
            </div>
            <a data-aos="fade-up" data-aos-delay="1400" class="btn transition duration-150 hover:bg-[#ff242fc4] hover:scale-105 bg-primary" href="#">Join Today</a>
        </div>
        <div class="mask-b-from-96 ">
            <img data-aos="fade-left" data-aos-delay="100" class=" w-8/12 mx-auto max-md:w-6/12 max-lg:w-full" src={serviceImg.src} alt="service-image">
        </div>
    </div>
</section>